@import 'variables';

body {
  font-family: $font-stack;
}

.aboutus-page {

  .banner-section {
    background-color: $secondary-color;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 20px;

    .banner-content {
      h1 {
        font-size: 2.8rem;
        font-weight: 700;
        margin-bottom: 15px;
      }

      p {
        font-size: 1.3rem;
      }
    }
  }

  .about-section {
    padding: 60px 10%;
    text-align: center;

    .about-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      text-align: left;

      .about-image {
        max-width: 500px;
        margin-right: 50px;
      }

      .about-text {
        p {
          font-size: 1.2rem;
          color: #333;
          line-height: 1.6;
          margin-bottom: 20px;
        }
      }
    }
  }

  .awards-section {
    display: flex;
    justify-content: space-around;
    padding: 50px 10%;
    background-color: #dedbdb;

    .award-card {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      max-width: 200px;
      text-align: center;
      padding: 20px;

      img {
        width: 100px;
        height: 100px;
        margin-bottom: 5px;
      }

      .award-content {
        h4 {
          font-size: 1.1rem;
          color: $primary-color;
          margin-top: 5px;
          text-transform: uppercase;
        }
      }
    }
  }

  .founders-section {
    padding: 60px 10%;
    margin-left: 5%;
    margin-right: 5%;
    
    .heading {
      text-align: center;
      font-size: 2rem;
      font-weight: 700;
      color: $primary-color;
      text-transform: uppercase;
      margin-bottom: 40px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); // Add shadow for emphasis
      display: flex;
      justify-content: center; 
      align-items: center; 
    }

    .founder {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 50px;

      .founder-info {
        max-width: 45%;

        h2 {
          font-size: 2rem;
          color: $primary-color;
          margin-bottom: 20px;
        }

        h3 {
          font-size: 1rem;
          color: #adacac;
          margin-bottom: 20px;
        }

        spam {
          font-size: 1.5rem;
          color: $primary-color;
        }

        p {
          font-size: 0.9rem;
          line-height: 1.6;
        }
      }

      .founder-img {
        img {
          max-width: 400px;
          border-radius: 50%;
        }
      }
    }
  }

  .brand-section {
    background-color: $secondary-color; // Use secondary color as background
    padding: 50px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .brand-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .brand-text {
            width: 60%;
            color: #000;

            h2 {
                font-size: 2.5rem;
                font-weight: 700;
                margin-bottom: 20px;
            }

            p {
                font-size: 1rem;
                line-height: 1.8;
                margin-bottom: 15px;
            }
        }

        .brand-image {
            width: 35%;
            img {
                max-width: 100%;
                height: 400px;
            }
        }
    }
}
}
