@import 'variables';

body {
  font-family: $font-stack;
}

.jobs-container {
  margin-left: 5%;
  margin-right: 5%;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 20px;
  padding: 20px;

  .jobs-list {
    h2 {
      font-size: 2.5rem;
      margin-bottom: 20px;
    }

    .job-filters {
      display: flex;
      flex-direction: row; // Ensure items are in a row
      gap: 10px;
      margin-bottom: 20px;
      align-items: center; // Center vertically, if needed
      flex-wrap: nowrap; // Prevent wrapping
      
      input, select {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        flex: 1; // Allow all inputs to grow equally
        width: 100%; // Ensure they take full available space within the flex item
        min-width: 150px; // Prevent inputs from being too small
      }

      input[type="text"], select {
        flex: 1;
        width: auto;
      }
      
      // Adjust the width of specific inputs
      input[type="text"] {
        flex-grow: 2; // Make text inputs slightly larger than select boxes
      }
      
      select {
        flex-grow: 1; // Allow select boxes to take up a smaller portion
      }
    }

    .job-cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr); // Two-column layout for cards
      gap: 20px; // Space between job cards

      .job-card {
        display: flex;
        border: 1px solid #e1e1e1;
        border-radius: 10px;
        padding: 25px;
        align-items: center;
        gap: 55px;
        background-color: #fff;

        .job-logo {
          width: 100px;
          height: 100px;
          border-radius: 5px;
        }

        .job-details {
          flex: 1;

          h3 {
            font-size: 1.5rem;
            margin: 0 0 10px;
          }

          p {
            margin: 0 0 5px;
            color: #888;
          }

          .job-meta {
            display: flex;
            gap: 10px;
            margin: 5px 0;

            span {
              display: flex;
              align-items: center;
              gap: 5px;
              font-size: 0.9rem;
            }
          }

          .job-type {
            background-color: #4caf50;
            color: #fff;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 0.8rem;
            text-transform: uppercase;
          }

          .full-time {
            background-color: #4caf50;
          }

          .internship {
            background-color: #ff9800;
          }

          .temporary {
            background-color: #f44336;
          }
        }
      }
    }
  }

  .jobs-map {
    h2 {
      font-size: 2.5rem;
      margin-bottom: 20px;
    }

    #map-container {
      width: 100%;
      height: 740px;
      
      iframe {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
    }
  }
}
