@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import 'variables';

body {
  font-family: $font-stack; 
}

.site-footer {
    margin-top: 5%;
    background-color: #2b2b2b;
    padding: 50px 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;

    .footer-content {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer-logo img {
        max-width: 200px; // Increased size
        width: 100px;
        height: 200px; // Make it square
        border-radius: 15px; // Rounded edges
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 10px 12px rgba(0, 0, 0, 0.1); // 3D effect
    }

    .footer-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin-top: 30px;

        .footer-column {
            flex: 1;
            min-width: 200px;
            margin-bottom: 20px;

            h4 {
                font-size: 18px;
                margin-bottom: 15px;
                font-weight: 700;
            }

            ul {
                list-style: none;
                padding: 0;

                li {
                    margin-bottom: 10px;

                    a {
                        color: #ccc;
                        text-decoration: none;
                        transition: color 0.3s ease;

                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }

            &.newsletter {
                form {
                    display: flex;
                    flex-direction: column;

                    input[type="email"] {
                        padding: 10px;
                        border-radius: 5px;
                        border: none;
                        margin-bottom: 10px;
                    }

                    button {
                        padding: 10px;
                        border-radius: 5px;
                        border: none;
                        background-color: #28a745;
                        color: #fff;
                        cursor: pointer;
                        transition: background-color 0.3s ease;

                        &:hover {
                            background-color: #218838;
                        }
                    }
                }
            }
        }
    }

    .footer-bottom {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            margin: 0;
            margin-left: 150px; // Added left margin for positioning
        }

        .social-icons {
            display: flex;
            margin-right: 155px;
            list-style: none; // Ensure the list style is none for the parent container
          
            li {
              margin-left: 35px;
              list-style: none; // Ensure no list dots appear on each item
            }
          
            a {
              color: #ccc;
              font-size: 20px; // Slightly increased icon size
              transition: color 0.3s ease;
          
              &:hover {
                color: #fff;
              }
            }
          }
          
    }
}
