@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import 'variables';

body {
    font-family: $font-stack; 
  }

  
.home-searchbar {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: #f5f9f7;
  
    .search-form {
      margin-left: 5%;
      width: 45%;
      background-color: white;
      padding: 2rem;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      
  
      h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        margin-bottom: 1rem;
        color: #1a202c;
      }
  
      p {
        font-size: 14px;
        color: #718096;
        margin-bottom: 1rem;
      }
  
      input, select {
        width: 95%;
        padding: 1rem;
        margin-bottom: 1rem;
        border: 1px solid #e2e8f0;
        border-radius: 4px;
      }
      select{
        width: 100%;
      }
  
      .search-button {
        width: 100%;
        padding: 1rem;
        background-color: #38a169;
        color: white;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
      }
  
      .advanced-search {
        margin-top: 1rem;
        font-size: 14px;
        color: #38a169;
  
        a {
          color: #38a169;
          text-decoration: underline;
        }
      }
    }
  
    .search-image {
      margin-right: 5%;
      padding: 10px;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
  
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }