@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import 'variables';

body {
  font-family: $font-stack; // Use Roboto font everywhere
}

.home-content {
  position: relative;
  height: 80vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20%;
  color: #fff;
}

.home-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/home/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
  z-index: -2;
}

.home-content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); 
  z-index: -1; 
}

.home-content h1 {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}

.home-content p {
  font-size: 25px;
  font-weight: 600;
  margin: 10px 0 20px 0;
}

.search-bar {
  position: relative;
  width: 80%;
  max-width: 1000px;
  display: flex;
}

.search-bar input {
  width: 85%;
  padding: 15px;
  font-size: 18px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: none;
  background-color: #fff;
  color: rgb(174, 173, 173);
  outline: none;
}

.search-bar button {
  width: 15%;
  padding: 10px;
  font-size: 18px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: none;
  background-color: $secondary-color;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: darken($secondary-color, 15%);
}

.more-options {
  margin-top: 20px;
}

.more-options a {
  color: $secondary-color;
  text-decoration: none;
  border-bottom: 2px solid $secondary-color;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.more-options a:hover {
  color: darken($secondary-color, 15%);
  border-bottom: 2px solid darken($secondary-color, 15%);
}

.popular-categories {
  h2 {
    font-size: 40px;
    font-weight: bold;
    color: black;
    margin-bottom: 30px;
  }

  .categories-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  margin-bottom: 50px;
  padding-bottom: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

$bg-image: '../assets/home/bgCS.jpg';
.custom-section {
  background: url($bg-image) no-repeat center center/cover;
  color: white;
  padding: 50px;
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .text-content {
    max-width: 50%;

    ul {
      list-style-type: none;
      padding: 0;

      li {
        margin-bottom: 10px;
        position: relative;
        padding-left: 20px;

        &::before {
          content: '\2713';
          color: green;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }

    .browse-btn {
      background-color: green;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 20px;

      &:hover {
        background-color: darkgreen;
      }
    }
  }

  .image-content {
    position: relative;
    width: 50%; /* Keep the image content container at 50% width */

    .img1 {
      width: 550px; 
      height: 350px; 
      display: block;
      margin-left: auto; 
    }

    .img2 {
      position: absolute;
      left: 0%;
      bottom: -15px; 
      width: 250px;
      height: 200px;
      box-shadow: 0px 0px 10px rgba(14, 10, 10, 0.3); /* Optional: add some shadow to the overlapping image */
    }
  }
}
