@import '../sass/variables.scss';

.jobs-page {
  font-family: $font-stack;
  font-size: 20px;
  margin-left: 10%;
  margin-right: 10%;

  .top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 25px;

    .job-category {
      span {
        color: #999999;
      }

      h1 {
        font-size: 28px;
        font-weight: 700;
        color: #333333;
        margin: 5px 0;

        .internship-tag {
          background-color: $secondary-color;
          color: #ffffff;
          padding: 5px 10px;
          border-radius: 5px;
          font-size: 16px;
          margin-left: 10px;
        }
      }
    }

    .bookmark-btn {
      background-color: #f0c14b;
      color: #333333;
      padding: 10px 20px;
      font-weight: 700;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-right: 35px;

      &:hover {
        background-color: #ddb347;
      }
    }
  }

  .company-info-box {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 20px 5%;
    border-radius: 10px;
    width: 90%;
    height: 100px;
    margin-bottom: 85px;

    .briefcase-img {
      width: 80px;
      height: 80px;
      margin-right: 20px;
      margin-left: 20px;
    }

    .company-details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;

      p {
        font-weight: 700;
        margin-bottom: 5px;
        font-size: 15px;
      }

      .company-links {
        display: flex;
        gap: 15px;
        font-size: 12px;

        a {
          color: $primary-color;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .apply-btn {
      background-color: $secondary-color;
      color: #ffffff;
      padding: 10px 20px;
      font-weight: 700;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-left: 20px;
      margin-right: 20px;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }

  .content-grid {
    display: grid;
    grid-template-columns: 70% 30%; /* 70% for video, 30% for job overview */
    gap: 15px;
    margin: 20px 5%;
    align-items: stretch;

    .video-section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      iframe {
        width: 100%;
        height: 470px; 
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      }

      .video-description {
        padding: 10px;
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        font-size: 18px;
        font-size: 15px;
      }
    }

    .job-overview {
      background-color: #f9f9f9;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      h2 {
        margin-bottom: 20px;
        font-size: 22px;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          display: flex;
          flex-direction: column; 
          margin-bottom: 4%; 
          font-size: 15px;

          strong {
            font-weight: 700;
          }

          span {
            margin-top: 5px; 
            color: #a4a4a4; 
          }

          svg {
            margin-right: 10px;
            color: #6fbf73;
          }
        }
      }

      .apply-btn {
        background-color: $secondary-color;
        color: #ffffff;
        margin-top: 10px;
        width: 100%;
        text-align: center;
        height: 8%;
        padding: 10px 20px;
        font-weight: 700;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }
      
    }
  }
}


  .job-details-section {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 20px; 
    margin-top: 25px;

    .responsibilities {
      
      h3 {
        margin-bottom: 15px;
      }
      
      ul {
        list-style-type: none; 
        padding-left: 0;

        li {
          margin-bottom: 10px;
          font-size: 16px;
          line-height: 1.5;

          &:before {
            margin-right: 20px;
          }
        }
      }
    }

    .location-map {
      
      margin-top: 10%;

      h3 {
        margin-bottom: 15px;
      }

      iframe {
        width: 100%;
        height: 315px;
        border: 0;
      }
    }
  }

  
