@import 'variables';

.navbar {
    background-color: $primary-color;
    height: $navbar-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

    .logo {
        img {
            height: 40px;
            width: 30px;
            margin-top: 10px;
        }
    }

    .nav-links {
        display: flex;
        gap: 30px;
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;

        a {
            color: white;
            text-decoration: none;
            font-family: $font-stack;
            font-weight: bold;

            &:hover {
                color: $secondary-color;
            }
        }
    }

    .auth-buttons {
        display: flex;
        gap: 15px;

        button {
            background-color: $secondary-color;
            color: white;
            border: none;
            padding: 8px 16px;
            cursor: pointer;
            font-family: $font-stack;
            font-weight: bold;

            &:hover {
                background-color: darken($secondary-color, 10%);
            }
        }
    }
}
