// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// Variables
$primary-color: #3498db;
$secondary-color: #2ecc71;
$font-stack: 'Roboto', sans-serif;
$navbar-height: 60px;
$light-grey: #f2f2f2;
$dark-grey: #555;
$white: #fff;