@import '../../sass/variables.scss';
.company-page {
    font-family: $font-stack;
    background-color: $light-grey;
    padding: 2rem;
    margin: 0 auto;
    
    .company-header {
      background-color: $white;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      padding: 2rem;
      display: flex;
      align-items: center;
      gap: 20px;
      
      .company-logo {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
      
      .company-info {
        h1 {
          font-size: 2.5rem;
          color: $primary-color;
        }
        
        .company-description {
          font-size: 1.2rem;
          color: $dark-grey;
          margin-top: 0.5rem;
        }
        
        .company-location, .company-jobs {
          font-size: 1rem;
          color: $secondary-color;
          margin-top: 0.2rem;
        }
      }
    }
  
    .company-details {
      margin-top: 2rem;
      background-color: $white;
      padding: 2rem;
      border-radius: 8px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      
      h2 {
        font-size: 2rem;
        color: $primary-color;
        margin-bottom: 1rem;
      }
  
      p {
        font-size: 1rem;
        color: $dark-grey;
        margin-bottom: 1rem;
        line-height: 1.5;
      }
  
      .company-gallery {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
        
        .company-gallery-image {
          width: 150px;
          height: 150px;
          object-fit: cover;
          border-radius: 8px;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }